<button class="assistance" (click)="toggleAssistance()">
  <img src="../../assets/images/microphone{{useVoiceAssistant ? '' : '-muted'}}.svg">
  <span>{{useVoiceAssistant ? 'Wyłącz asystenta' : 'Uruchom asystenta'}}</span>
</button>

<div *ngIf="!showGuide">
  <p class="question">{{question}}</p>

  <div *ngFor="let answer of answers; let i = index">
    <button class="card card-center-content red-arrow"
            [ngClass]="{'active': selectedQuestion === i}"
            (click)="clickAnswer(answer)">
      <h2>{{answer}}</h2>
    </button>
  </div>
</div>

<div *ngIf="showGuide">
  <img src="../../assets/images/firt-aid-giph.gif"/>

  <ul class="guide-list">
    <li *ngFor="let item of guideList">{{item}}</li>
  </ul>

  <button class="assistance" (click)="toggleTempo()">
    <img src="../../assets/images/tempo{{playTempo ? '-muted' : ''}}.svg">
    <span>{{playTempo ? 'Wyłącz tempo' : 'Włącz tempo'}}</span>
  </button>
</div>
