<img src="../../assets/images/home-ad.jpg"/>

<div class="first-aid">
  <button class="card" routerLink="first-aid">
    <h2 class="special">Pierwsza pomoc</h2>
    <h3>na miejscu wypadku</h3>
  </button>

  <div class="cards-flex">
    <button class="card"><h2>Placówki<br/>NFZ</h2></button>
    <button class="card"><h2>Survival<br/>Kit</h2></button>
    <button class="card"><h2>Rozwiąż<br/>Quiz</h2></button>
  </div>
</div>

<div class="cards-flex">
  <button class="card icon-top"><img src="../../assets/images/orlen-1.jpg"><h2>Kupony</h2></button>
  <button class="card icon-top"><img src="../../assets/images/orlen-2.jpg"><h2>Mapa stacji</h2></button>
  <button class="card icon-top"><img src="../../assets/images/orlen-3.jpg"><h2>Płatności</h2></button>
</div>

<div class="cards-flex">
  <button class="card icon-top"><img src="../../assets/images/orlen-4.jpg"><h2>VITAY</h2></button>
  <button class="card icon-top"><img src="../../assets/images/orlen-5.jpg"><h2>mFlota</h2></button>
  <button class="card icon-top"><img src="../../assets/images/orlen-6.jpg"><h2>StopCafe</h2></button>
</div>
