.card-center-content {
    display: flex;
    align-items: center;
}

.number {
    width: 24px;
    height: 24px;
}

h1, h3 {
    text-align: center;
}

h3 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: justify;
}

h1 {
    padding-top: 46px;
    padding-bottom: 48px;
}