<h1 class="page-title">
  {{title}}
</h1>
<button class="card">
  <div class="step">
    <img class="icon-left" src="/assets/images/first.png">
    <h3>Włącz światła awaryjne w swoim aucie, zaciągnij hamulec ręczny
    i wyjmij kluczyki ze stacyjki.</h3>
  </div>
  <div class="step">
    <img class="icon-left" src="/assets/images/second.png">
    <h3>Postaw trójkąt awaryjny (w obszarze zabudowanym tuż przy miejscu
    zdarzenia, na drodze zwykłej 60 metrów dalej, na autostradzie i drodze
    ekspresowej 100-150m).</h3>
  </div>
  <div class="step">
    <img class="icon-left" src="/assets/images/third.png">
    <h3>Wyłącz silnik i wyjmij kluczyk ze stacyjki w innych samochodach
    biorących udział w wypadku drogowym (jeżeli ich kierowcy nie są
    w stanie zrobić tego sami). Kluczyki zostaw pod przednią szybą.</h3>
  </div>
</button>

