<h1 class="title">
    {{title}}
</h1>
<button class="card card-center-content first-aid">
  <img  class="number" src="assets/images/first.svg">
  <h3>Włącz światła awaryjne w swoim aucie, zaciągnij hamulec ręczny
  i wyjmij kluczyki ze stacyjki.</h3>
</button>
<button class="card card-center-content first-aid">
  <img class="number" src="assets/images/second.svg">
  <h3>Postaw trójkąt awaryjny (w obszarze zabudowanym tuż przy miejscu 
  zdarzenia, na drodze zwykłej 60 metrów dalej, na autostradzie i drodze
  ekspresowej 100-150m).</h3>
</button>
<button class="card card-center-content first-aid">
  <img class="number" src="assets/images/third.svg">
  <h3>Wyłącz silnik i wyjmij kluczyk ze stacyjki w innych samochodach
  biorących udział w wypadku drogowym (jeżeli ich kierowcy nie są 
  w stanie zrobić tego sami). Kluczyki zostaw pod przednią szybą.</h3>
</button>
