@import '../styles/_colors.scss';

nav {
  box-shadow: 0 2px 4px 1px rgba(0,0,0,0.16);
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: $accent-white;
}

.logo {
  max-width: 120px;
}
