<h1 class="page-title">
  {{title}}
</h1>
<button class="card card-center-content red-arrow">
  <img  src="assets/images/car.jpg" class="icon-left">
  <h2>{{choices[0]}}</h2>
</button>
<button class="card card-center-content red-arrow">
  <img src="assets/images/phone.jpg" class="icon-left">
  <h2>{{choices[1]}}</h2>
</button>
<button class="card card-center-content red-arrow"
        routerLink="/first-aid-questions">
  <img src="assets/images/plaster.jpg" class="icon-left">
  <h2>{{choices[2]}}</h2>
</button>
