.Pierwsza-pomoc {
    width: 213px;
    height: 31px;
    font-family: Futura;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #464646;
  }

  .Rectangle-Copy-6 {
    width: 344px;
    height: 110px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }  